* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Greta Sans Medium", "Greta Sans Regular", Arial, sans-serif;
  color: #0282f9;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.white {
  color: white;
}

.header-top {
  background-color: #0282f9;
  color: white;
  font-size: 0.7em;
}

.header-top .container {
  display: flex;
  justify-content: flex-end;
}

.header-top .container div {
  margin-right: 2em;
  padding: 0.5em;
  font-weight: bold;
}

.header-menu {
  color: black;
  font-weight: bold;
  padding: 1em;
}

.header-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu .container .logo img {
  width: 80%;
}

.header-menu .container nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: stretch;
}

.header-menu .container nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu .container nav ul li {
  margin-right: 1em;
  position: relative;
}

.header-menu .container nav ul li.active {
  color: #0282f9;
}

.header-menu .container nav ul li.active::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 65px;
  left: 0;
  background-color: #0282f9;
}

.header-menu .container nav ul i {
  font-size: 0.8em;
  color: #0282f9;
}

.header-menu .container .search {
  border-bottom: 2px solid #0282f9;
}

.header-menu .container .search i {
  font-size: 1.2em;
}

.header-menu .container .search input {
  border: none;
  height: 30px;
}

.header-menu .container .search input:active {
  border: none;
}

.header-menu .container .search input::-moz-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: end;
  color: black;
}

.header-menu .container .search input:-ms-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: end;
  color: black;
}

.header-menu .container .search input::placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: end;
  color: black;
}

.jumbotron_home {
  width: 100%;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 400px;
  position: relative;
}

.jumbotron_home h1 {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.8em;
  background-color: #0282f9;
  padding: 0.3em 0.8em;
}

.main-content {
  background-color: #1c1c1c;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.main-content .container.cards {
  display: flex;
  flex-wrap: wrap;
}

.main-content .container.cards .card {
  width: 16.6666666667%;
  margin-bottom: 1.5em;
}

.main-content .container.cards .card .img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.main-content .container.cards .card h1 {
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-size: 0.8em;
  padding: 1.5em 0;
}

.main-content .more-content {
  text-align: center;
}

.main-content .more-content h2 {
  display: inline-block;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: #0282f9;
  padding: 0.8em 2.5em;
}

.jumbotron_comic {
  width: 100%;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 400px;
  position: relative;
}

.jumbotron_comic .blue_bottom {
  width: 100%;
  height: 80px;
  position: relative;
  top: 100%;
  background-color: #0282f9;
}

.jumbotron_comic .thumb_comic {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20%;
}

.jumbotron_comic .thumb_comic .image {
  width: 192px;
  height: 291px;
}

.jumbotron_comic .thumb_comic .image img {
  width: 100%;
  border: 1px solid white;
}

.jumbotron_comic .thumb_comic .image .abs {
  position: absolute;
  left: 0;
  color: white;
  background-color: #00a9d9;
  z-index: 1;
  padding: 2px;
  font-size: 0.8em;
}

.jumbotron_comic .thumb_comic .image .abs.title {
  top: 2px;
  left: 2px;
}

.jumbotron_comic .thumb_comic .image .abs.bottom_text {
  width: 190px;
  text-align: center;
  bottom: 2px;
  left: 1px;
}

.content {
  width: 60%;
  margin: 150px auto 0;
  color: black;
}

.content .box_info .info {
  margin-right: 3em;
}

.content .box_info .info h1 {
  text-transform: uppercase;
  font-size: 1.8em;
}

.content .box_info .info .price {
  width: 100%;
  background-color: #55ba59;
  color: #bafd9c;
  font-weight: bold;
  margin: 1em 0;
}

.content .box_info .info .price .w-60 {
  flex-basis: 75%;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid rgba(41, 41, 41, 0.801);
}

.content .box_info .info .price .w-40 {
  flex-basis: 25%;
  padding: 1em 0.3em;
  border: 1px solid rgba(41, 41, 41, 0.801);
}

.content .box_info .info .description {
  color: grey;
  font-weight: bold;
  line-height: 2em;
  font-size: 1em;
}

.content .adv span {
  display: block;
  text-align: right;
  font-weight: bold;
  color: grey;
  margin-bottom: 0.5em;
}

.footer-card {
  background-color: #0282f9;
  color: white;
}

.footer-card .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3em 0;
}

.footer-card .container .footer-card-item {
  display: flex;
  align-items: center;
  margin-right: 2.5em;
}

.footer-card .container .footer-card-item img {
  height: 50px;
  margin-right: 1em;
}

.footer-card .container .footer-card-item span {
  text-transform: uppercase;
}

.footer-main-content {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-main-content .container {
  display: flex;
  justify-content: space-between;
}

.footer-main-content .container .footer-link {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

.footer-main-content .container .footer-link .link-col {
  margin-right: 2em;
}

.footer-main-content .container .footer-link .link-col h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: white;
}

.footer-main-content .container .footer-link .link-col ul {
  list-style: none;
}

.footer-main-content .container .footer-link .link-col ul li {
  line-height: 2em;
  font-size: 0.8em;
  color: lightgray;
}

.footer-main-content .container .footer-link .cookie {
  flex-basis: 100%;
  padding: 1em 0;
}

.footer-main-content .container .footer-link .cookie p {
  line-height: 2em;
  font-size: 0.8em;
  color: lightgray;
}

.footer-main-content .container .footer-link .cookie p span {
  color: #0282f9;
}

.footer-main-content .container .footer-img {
  flex-basis: 50%;
  height: 465px;
  overflow: hidden;
}

.footer-main-content .container .footer-img img {
  position: relative;
  bottom: 10%;
}

.footer-bottom {
  background-color: #303030;
}

.footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}

.footer-bottom .container .sign-up {
  border: 2px solid #0282f9;
  padding: 1em;
}

.footer-bottom .container .sign-up h2 {
  font-size: 1em;
  color: white;
}

.footer-bottom .container .social-link {
  display: flex;
  align-items: center;
  gap: 1em;
}

