@import "__variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: $brand-font-family;
    color: $brand-font-color;
}

.container {
    width: 70%;
    margin: 0 auto;
}
